html,
body {
  height: 100%;
  background-color: white;
}

body {
  display: flex;
}

h2 {
  font-weight: 400;
  font-size: 1.125em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.8em;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
