#break-header {
  display: flex;
}

#break-header-avatar {
  vertical-align: top;
}

#break-header-break-started {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  display: block;
}

#break-header-details {
  display: inline-block;
  margin-left: 1rem;
}
